header.main-padding 
    nav 
        ul 
            li
                a(href="#").header-fonts Home
            li
                a(href="#about").header-fonts ABOUT
            li
                a(href="#team").header-fonts TEAM
            li
                a(href="#booking").header-fonts BOOKING
        a(href="#map").main-logo
            include ../svg/mainLogo
        ul
            li
                a(href="#specialty").header-fonts MENU
            li
                a(href="#galery").header-fonts GALERIE
            li
                a(href="#events").header-fonts EVENTS
            li
                a(href="#contact").header-fonts CONTACT