span.signature.main-font-spaced PRIVATE EVENTS
span.signature-bottom.signature.main-font For private events please call: <strong> +40 729 131 637/+40 726 458 782 </strong> or use the contact form.  
.img-block
    .aside
        h3.h3-main-font weddings
    img(data-src="../static/img/weadings.png", alt="" class="lazyload")
    .square
.img-block
    .aside 
        h3.h3-main-font corporate pzrties
    img(data-src="../static/img/corporatives.png", alt="" class="lazyload")
    .square