.schedule
    p.header-fonts Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
.middle
    span.main-font-spaced RESTAURANT
    h1.h1-main-font.header-strip hungry people    
    .buttons-block
        a(href="#booking").button.header-fonts BOOK TABLE
        a(href="#menu").button.header-fonts EXPLORE
    a(href="#about").array-box
        .array
.social
    ul 
        li 
            a(href="#")
                include ../../svg/facebook
        li 
            a(href="#")
                include ../../svg/twitter
        li 
            a(href="#")
                include ../../svg/instagram

