.galery-wrapper
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-1.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-2.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-3.png", alt="")
    .galery-item        
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-4.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-4.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-4.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-4.png", alt="")
    .galery-item    
        .cursor-wrapper
            .cursor
        img(src="../static/img/galery-4.png", alt="")