.text-block
    h2.h2-main-font.header-strip DELICIOUS MENU
    h4.h4-main-font Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
    ul 
        li 
            a(href="#").header-fonts SOUPE
        .strip
        li.active
            a(href="#").header-fonts PIZZA
        .strip
        li
            a(href="#").header-fonts PASTA
        .strip
        li
            a(href="#").header-fonts DESERT
        .strip
        li
            a(href="#").header-fonts WINE
        .strip
        li
            a(href="#").header-fonts BEER
        .strip
        li
            a(href="#").header-fonts DRINKS
.menu-render(data-pick="soupe")
    .menu-item
        .name
            h5.menu-font soupe QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="pizza")
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat qui tempora voluptas. Omnis, eaque dolorum maiores sed tenetur minus nesciunt, aspernatur repudiandae, ipsa fugit tempora quod molestias. Beatae adipisci rem eveniet, maiores eos dolore neque sed dolorum exercitationem facilis nihil deserunt vero. Cupiditate, ipsum eligendi. Blanditiis architecto possimus quasi deleniti commodi officia sed perferendis officiis neque eius incidunt amet quae vitae sunt reprehenderit, at, alias non! Enim itaque, dolores in debitis explicabo harum? Quas nemo ipsum corrupti a eaque praesentium commodi impedit perspiciatis libero enim? Animi, vel saepe. Deserunt, quo quaerat sapiente labore autem ullam odit quisquam vitae id praesentium non consequatur aliquid fuga voluptatem officia molestias nesciunt libero? Corrupti quisquam quidem dolores cupiditate, deleniti quia voluptates dolore sapiente ipsa doloremque maiores culpa? Perferendis, harum pariatur optio aliquid suscipit repellendus amet praesentium, sunt, maiores accusamus aperiam eveniet ratione ipsum sed explicabo corporis rem. Atque, provident. Beatae, consequatur fugit. Laudantium cum, autem perferendis sint obcaecati deleniti nulla exercitationem, ad hic pariatur repellendus cupiditate, saepe quas recusandae doloribus. Odio expedita quidem modi voluptate minus nam est doloribus dolor earum accusamus, recusandae unde ex nisi neque odit ratione iste, atque, repudiandae error? Facere dolore necessitatibus eaque, maiores dicta tempore ducimus fugit molestias vel?
            p.main-font Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatem delectus vel sapiente. Quia earum id quo esse nulla ipsa fugit! Quo nihil repellendus eaque dolor ad fuga voluptate sint, assumenda rerum dicta aliquam accusamus? Nesciunt fugiat excepturi neque autem quam? Iusto eius tempora incidunt sit numquam magnam suscipit nostrum aperiam at! Nam quae mollitia minima quaerat natus distinctio amet asperiores explicabo iste autem veniam, rem eius officiis dolor maiores perferendis dignissimos, vero at cumque. Dolorem ipsa, nostrum voluptates laborum repudiandae totam possimus maxime ut odio reprehenderit dolor nulla doloribus labore placeat, sapiente obcaecati corporis veniam error soluta, vel odit!
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="pasta")
    .menu-item
        .name
            h5.menu-font pasta QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="desert")
    .menu-item
        .name
            h5.menu-font desert QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="wine")
    .menu-item
        .name
            h5.menu-font wine QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="beer")
    .menu-item
        .name
            h5.menu-font beer QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
.menu-render(data-pick="drinks")
    .menu-item
        .name
            h5.menu-font drinks QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD
    .menu-item
        .name
            h5.menu-font PIZZA QUATRO STAGIONI 
            p.main-font Lorem ipsum dolor sit amet.
        .price 
            p.menu-font 55,68 USD

a(href="#")#show_more_menu.header-fonts Show more