span.signature.main-font-spaced OUR TEAM
.text-block
    h2.h2-main-font.header-strip MASTER CHEF
    h4.h4-main-font Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
    p.main-p Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
.img-block
    img(data-src="../static/img/team.png", alt="" class="lazyload")
    .square